*{
    font-family: poppins;
}

.tituloIndex, .tituloBlog, .tituloPodcast, .tituloContacto, .tituloQuienesSomos {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    
}

.tituloIndex{
    padding-top: 10px;
}

.subtituloBlog {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    color: green;

}
.row {
    padding-bottom: 2%;
}

.imagenBlogCont {
 max-width: 100%;
}

.imagenBlog {
    margin-top: 1rem;
}

.textoBlog {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contenedorTotal
{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.textoIndex, .textoBlog {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;
}


#footer {
    padding-top: 1%;
    .formFooter {
        color: #D3E08E;
    
    }
    .itemFooter {
        padding-top: 3%;
        color: #D3E08E;
    }
    
}

#carouselExampleControls {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.nombrePodcast {
    margin-top: 1rem;
}

.subtituloPaltas {
    font-size: 30px;
    color: green;
    background-color: #D3E08E;
}

.tituloQS
{
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
}

.textoImagenTextoQs1, .textoImagenTextoQs2, .textoImagenTextoQs3
{
    font-size: 20px;
    text-align: center;
}


.imagenTextoQs1, .imagenTextoQs2, .imagenTextoQs3
{
    text-align: center;
    transition: all 150ms;
}

.imagenTextoQs2:hover
{
    transform: scale(1.1);
}

.imagenTextoQs1:hover
{
    transform: scale(1.1);
}

.imagenTextoQs3:hover
{
    transform: scale(1.1);

}

.imagenPalta
{
    text-align: center;
}

.formularioContacto
{
    grid-column: 3/12;
    grid-row: 3/4;
}




.input1 
{
    width: 50%;
    margin-bottom: 5px;
}

.input2
{
    width: 50%;
    margin-bottom: 5px;

}

.input3 
{
    width: 50%;
    margin-bottom: 5px;

}

.btnSubmit
{
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 2px black;
    background-color: lightgreen;
}


form 
{
    grid-column: 6/8;
    grid-row: 3/4;
} 

.tituloIndex, .tituloBlog, .contenedorTituloFormulario
{
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
}

.subtituloIndex {
    grid-column: 5/9;
    grid-row: 2/3;
    text-align: center;
}



.imagenIndex
{
    grid-column: 5/9 ;
    grid-row: 3/4;
    width: 60%;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 15px;
       
}

.contenedorImgTexto 
{
    grid-column: 2/6;
    grid-row:3/5;

    p 
    {
    grid-column: 2/6;
    grid-row: 4/5;
    }
}

.contenedorImgTexto2
{
    grid-column: 9/12;
    grid-row:3/5;
    text-align: center;
}





.textoIndex, .parrafoBlog
{
    grid-column: 5/9;
    grid-row: 4/5;
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
}

.subtituloBlog
{
    grid-column: 5/9;
    grid-row:2/3;
}

.btnFormulario {
    background-color: green;
    color: white;
    border-radius: 5px;
}