
/* Estilos para toda la página */
* {
     font-family: 'Poppins', sans-serif;
     padding: 0; 
     margin: 0;
     
}

/* Estilos sitio versión Desktop */
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:auto;
    margin-right: auto;
    margin-left: auto;
    background-color: #003B32;
}

@media screen and (max-width: 600px) 
{

    header h1 
    {
        text-align: center;
    }
    .contenedorNav
    {
        width: 70%;
        font-size: 20px;
    }
    header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #003B32;
    margin-bottom: 35px;
}
}

li{
    display: inline-block;
}

li a{
    display: inline;    
}

.contenedorNav, .menuNav {
    padding-top: 30px;
    text-align: center;
    padding-bottom: 20px;
    padding-right: 20px;
}
.contenedorNav, .itemNav,  a{
    transition: all 250ms;
    padding-top: 10px;
}

.itemNav:hover {
    transform: scale(1.1);
}

a {
    text-decoration:none;
    color: #A9CA58
}

li {
    list-style: none;
    padding: 4px;
    font-size: 1.5rem;
}

.logoIndex {
    padding-left: 40px;
}

.articuloPalta h1 {
    font-size: 50px;
}
.articuloPalta h2 {
    color: darkgreen;
}
.articuloPaltas p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid;
    padding: 25px;
}

.contenedorFooter {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer {
    background-color:  #006E61;;
    color: #A9CA58;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subContenedorPodcast
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.articuloPodcast, .subtituloPalta80 
{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}

.tituloIndex, .articuloPodcast, .tituloBlog, .tituloQS, .contenedorTituloFormulario
{
    font-size: 35px;
    font-weight: bold;
}

.subtituloIndex
{
    font-size: 18px;
    padding-bottom: 10px;
}

.subtituloPalta80
{
    font-size: 40px;
    padding-bottom: 20px;
    
}

.subtituloPalta79
{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

.subtituloPalta78
{
    font-size: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    
}

.contenedorImgTexto
{
    text-align: center;
    margin-top: 15px;
    padding-bottom: 15px;
}


.tituloBlog, .subtituloBlog, .parrafoBlog
{
    text-align: center;
}

.tituloBlog
{
    margin-bottom: 14px;
    padding-top: 10px;
}

.subtituloBlog{
    font-size: 22px;
    margin-bottom: 15px;
}

.parrafoBlog{
    width: 80%;
    margin-left: 50px;
    padding-bottom: 20px;
}


.subContenedorQS
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.subContenedorQS p
{
    
    border: solid 2px black;
    padding: 35px;
}

.subContenedorQS ol{
    border: solid 2px black;
    padding: 10px;
}

.tituloQS
{
    padding-top: 10px;
    margin-bottom: 20px;
}

.contenedorFormulario
{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

.imagenPalta
{
    padding-bottom: 15px;
}

.textoImagenTextoQs1, .textoImagenTextoQs2, .textoImagenTextoQs3
{
    font-size: 20px;
    text-align: center;
}

.imagenTextoQs1, .imagenTextoQs2, .imagenTextoQs3
{
    text-align: center;
    transition: all 150ms;
}

.imagenTextoQs2:hover
{
    transform: scale(1.1);
}

.imagenTextoQs1:hover
{
    transform: scale(1.1);
}

.imagenTextoQs3:hover
{
    transform: scale(1.1);
}



/* GRIDS */


.contenedorGridIndex,.contenedorGridBlog {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr,2fr,2fr,5fr;
    background-image: linear-gradient(to right, green, yellow);
}

/* GRID MAIN PODCAST DESKTOP */
.contenedorGridPodcast {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 90px 80px 200px 200px;
    text-align: center;
}

.contenedorGridPodcast h1
{

    font-size: 40px;
}

.contenedorGridPodcast h3
{
    font-size: 30px;
}

.articuloPodcast{
    grid-column: 1/7;
    grid-row: 1/2;
    
}

.contenedorPalta80
{
    grid-column: 2/4;
    grid-row: 2/3;
    
}

.contenedorPalta79 p, .contenedorPalta80 p
{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}


.contenedorPalta79
{
    grid-column: 4/6;
    grid-row: 2/3;
    
}

/* FIN GRID MAIN PODCAST */

/* GRID MAIN PODCAST MOBILE */

@media screen and (max-width: 600px) 
{

.contenedorGridPodcast {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 80px 450px 250px 200px;
    text-align: center;
}

.contenedorGridPodcast h1
{
    font-size: 24px;
}

.contenedorGridPodcast h3
{
    font-size: 30px;
}

.articuloPodcast{
    grid-column: 1/7;
    grid-row: 1/2;
    
}

.contenedorPalta80
{
    grid-column: 2/6;
    grid-row: 2/3;
    
}

.contenedorPalta79 p, .contenedorPalta80 p
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


.contenedorPalta79
{
    grid-column: 2/6;
    grid-row: 3/4;
    
}
}

/* FIN GRID MAIN PODCAST MOBILE */


/* GRID MAIN QS VERSION DESKTOP */

.contenedorTotalQS 
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px 250px 150px;
}

.contenedorTotalQS h1 
{
    font-size: 35px;
}

.contenedorFormulario 
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 1fr 3fr 1fr;
}


.imagenTextoQs1
{
    grid-column: 3/5;
    grid-row: 2/3;
}

.imagenTextoQs2
{
    grid-column: 6/8;
    grid-row: 2/3;
}

.imagenTextoQs3
{
    grid-column: 9/11;
    grid-row: 2/3;
}

.tituloQS
{
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
}

/* FIN GRID MAIN QS VERSIÓN DESKTOP */

/* GRID MAIN QS VERSIÓN MOBILE */

@media screen and (max-width: 600px) 
{
.contenedorTotalQS 
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px 420px 420px 420px;
    text-align: center;
    
}

.contenedorTotalQS  img 
{
    margin-left: -20px;
}



.contenedorTotalQS h1 
{
    font-size: 25px;
}


.imagenTextoQs1
{
    grid-column: 3/5;
    grid-row: 2/3;
    
}

.imagenTextoQs2
{
    grid-column: 3/5;
    grid-row: 3/4;
    
}

.imagenTextoQs3
{
    grid-column: 3/5;
    grid-row: 4/5;
}

.tituloQS
{
    grid-column: 1/13;
    grid-row: 1/2;
    text-align: center;
}
}

/* FIN GRID MAIN QS VERSIÓN MOBILE */


/* GRID MAIN CONTACTO VERSIÓN DESKTOP*/



.contenedorFormulario 
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px 300px 100px 100px;
    text-align: center;
}


.textoContenedorFormulario
{   
    text-align: center;
    
    grid-column: 4/10;
    grid-row: 1/2;
    margin-left: 25px;
    font-size: 30px;
    
}


.imagenPalta
{
    grid-column: 6/9;
    grid-row: 2/3;
    text-align: center;
}

.formularioContacto
{
    grid-column: 3/12;
    grid-row: 3/4;
}




.input1 
{
    width: 50%;
    margin-bottom: 5px;
}

.input2
{
    width: 50%;
    margin-bottom: 5px;

}

.input3 
{
    width: 50%;
    margin-bottom: 5px;

}

.btnSubmit
{
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 2px black;
    background-color: lightgreen;
}


form 
{
    grid-column: 6/8;
    grid-row: 3/4;
} 
/* FIN GRID MAIN CONTACTO VERSIÒN DESKTOP */

/* GRID MAIN CONTACTO VERSIÓN MOBILE */


@media screen and (max-width: 600px) 
{
    .contenedorFormulario 
{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 100px 300px 100px 100px;
}

.imagenPalta
{
    grid-column: 4/9;
}
.formularioContacto
{
    grid-column: 3/12;
    grid-row: 3/4;
}

.contenedorTituloFormulario
{
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
}

.input1 
{
    width: 50%;
    margin-bottom: 5px;
}

.input2
{
    width: 50%;
    margin-bottom: 5px;

}

.input3 
{
    width: 50%;
    margin-bottom: 5px;

}

.btnSubmit
{
    margin-top: 10px;
    padding: 10px 20px;
    border: solid 2px black;
    background-color: lightgreen;
}


form 
{
    grid-column: 6/8;
    grid-row: 3/4;
} 

.textoContenedorFormulario  h1
{
    font-size: 40px;
    margin-left: -10px;
}
}

/* FIN GRID MAIN CONTACTO VERSIÒN MOBILE */



.tituloIndex, .tituloBlog, .contenedorTituloFormulario
{
    grid-column: 5/9;
    grid-row: 1/2;
    text-align: center;
}

.subtituloIndex {
    grid-column: 5/9;
    grid-row: 2/3;
    text-align: center;
}



.imagenIndex
{
    grid-column: 5/9 ;
    grid-row: 3/4;
    width: 60%;
    margin-left: auto;
    margin-right: auto;  
    padding-top: 15px;
       
}

.contenedorImgTexto 
{
    grid-column: 2/6;
    grid-row:3/5;

}

.contenedorImgTexto2
{
    grid-column: 9/12;
    grid-row:3/5;
    text-align: center;
}

.contenedorImgTexto p 
{
grid-column: 2/6;
grid-row: 4/5;
}



.textoIndex, .parrafoBlog
{
    grid-column: 5/9;
    grid-row: 4/5;
    text-align: center;
    padding-bottom: 30px;
}

.subtituloBlog
{
    grid-column: 5/9;
    grid-row:2/3;
}


  


@media screen and (max-width: 600px) 
{
h1{
    font-size: 20px;
}
li {
    font-size: 10px;
}
.contenedorGridIndex, .contenedorGridBlog
{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: 1fr,1fr,2fr,2fr;
}

.tituloIndex, .tituloBlog
{
    padding-top: 20px;
    grid-column: 2/8 ;
    grid-row: 1/2;
    text-align: center;
    line-height: 38px;
    padding-bottom: 10px;
}

.subtituloIndex, .subtituloBlog
{
    grid-column: 2/8 ;
    grid-row: 2/3;
    text-align: center;
}

.imagenIndex
{
    grid-column: 2/8 ;
    grid-row: 3/4;
    width: 100%;
    margin-left: auto;
    margin-right: auto;  
       
}

.textoIndex, .parrafoBlog
{
    grid-column: 2/8;
    grid-row: 4/5;
    text-align: center;
    padding-bottom: 10px;
}

}
